{% extends "layout.html" %}
{% block body %}

<header class="masthead" style="background-image: url('{{url_for('static',filename='img/admin-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Admin Panel</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
    <h1>Basic Actions</h1>
    <a href="/edit/0"><button class="btn btn-primary">Add New Blog</button></a>
    <a href="/logout"><button class="btn btn-primary">Logout</button></a>
    <hr>
    <h1>Upload Files</h1>
        <form action="/uploader" method='POST' enctype="multipart/form-data">
        <input type="file" name="file1" id="file1">
        <button type='submit' class="btn btn-primary"> Submit</button>
      </form>
    <hr>
    <h1>Edit Posts</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Sno</th>
          <th>title</th>
          <th>Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>


      {% for post in posts %}
      <tbody>
        <tr>
          <td>{{post.sno}}</td>
          <td>{{post.title}}</td>
          <td>{{post.date}}</td>
          <td><a href ='/edit/{{post.sno}}'><button class="btn btn-primary">Edit</button></td>
          <td><a href ='/delete/{{post.sno}}'><button class="btn btn-primary">Delete</button></a></td>
        </tr>
      </tbody>

      {% endfor %}
    </table>
  </div>
  </div>
  </div>
  {% endblock %}  