{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">A Blog Wrriten By {{params['blog_name']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<!-- fetch from data base -->
{% for post in posts %}
        <div class="post-preview">
            <a href="/post/{{post.slug}}">
            <h2 class="post-title">{{post.title}}

            </h2>
          </a>
            <h4>
              {{post.tagline}}
            </h4>

          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            on {{post.date}}</p>
          </div>
          {{post.content[0:200]}}... <div class="clearfix">
            <a class="btn btn-primary float-right" href="/post/{{post.slug}}">Read More &rarr;</a>
          </div>
        <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right {{next_background}}" href="{{next}}">Next &rarr;</a>

          <a class="btn btn-primary float-left {{prev_background}}" href="{{prev}}">&larr; Previous</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}  